
{{#each users}}
<article class="card">
    <h1 class="card-header">{{this.name}} </h1>
    <img class="card-body" src={{this.image}} width="20px">
    {{#each this.tasks}}
    <h1 class="card-body">{{this.desc}}</h1>
    {{/each}}
</article>
{{/each}}
