<div class="bg-img-j">
</div>
<div class="select-user-form-j" id="selectUser">
    <h3>Select a User</h3>
    <div class="card-j">
        {{#each users}}
        <a href="/users/{{this.id}}/boards">
            <div class="card-body-j" style="background-image: url({{this.image}});">
                <span class="card-body-tooltip-j">{{this.name}}</span>
            </div>
        </a>

        {{/each}}
    </div>
    <p>Don't have one?</p>
    <div>
        <button class="btn-create-j" onclick="openForm()">Create User</button>
    </div>
</div>

<div class="create-user-form-j" id="createUser">
    <form action="/users/create" method="POST" class="create-user-container-j">
        <h4>Create New User</h4>

        <label><br>Name:<br></label>
        <input type="text" placeholder="Username" name="name" required>

        <lavel><br>Avatar:<br></lavel>
        <input type="url" placeholder="Avatar Url" name="image" required>

        <button type="submit" class="btn-j">Create User</button>
        <button type="button" onclick="closeForm()" class="btn-j">Cancel</button>
    </form>
</div>

<script>
    function openForm() {
        document.getElementById("createUser").style.display = "block";
        document.getElementById("selectUser").style.display = "none";
    }
    function closeForm() {
        document.getElementById("createUser").style.display = "none";
        document.getElementById("selectUser").style.display = "block";
    }
</script>