<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="https://images.pexels.com/photos/36445/rose-close-up-pink-flower.jpg?cs=srgb&dl=pexels-pixabay-36445.jpg&fm=jpg" width="30" height="30" alt="">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/all-boards">All Boards <span class="sr-only">(current)</span></a>
      </li>
    </ul>
        <img src={{user.image}} width="30" height="30" alt="">
  </div>
</nav>
