/* Individual board page style */

.logo {
    border-radius: 5px;
}

.navbar {
    background-color: #67515D
}


a, a:link, a:active, a:visited {
    color: inherit;
    text-decoration: none;
}  
.nav-link, .nav-link:visited{
    color: white;
    font-size: 1.5em;
}
 
.body {
    font-family: 'Lato', sans-serif;
}

.main-board-k {
    margin-top: 3rem;
    margin-bottom: 4rem;
    background-color: #F6F3F4;
    border: solid #ded3d7;
    border-radius: 1rem;
}

.card-todo-k {
    background-color: #cbe7cb;
}

.card-progress-k {
    background-color: #f6e7bc;
}

.card-done-k {
    background-color: #f6cbbc;
}

.c-text-k {
    border: 1px solid #999999;
    margin: .5rem;
    padding: .5rem;
    border-radius: .5rem;
    background-color: #f8f9fa;
}

#board-title-k {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.card-board-k {
    box-shadow: 6px 6px 6px -6px #999999;
    min-height: 16rem;
}

.card-header-k {
    font-weight: 400;
}

.avatar-k {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1rem;
}

.avatars-group-k {
    text-align: center;
    margin-bottom: 2rem;
}

.avatars-group-k>img {
    margin: .5rem;
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
}

.avatar-nav-k {
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
}

.cards-row-k {
    margin-top: 3rem;
}

.btn-k {
    border-radius: 1.3rem;
    box-shadow: 3px 3px 5px #737373;
    background-color: #5d495488;
}
.btn-k:hover {
    background-color: #6c757d;
    color: #fcfcfc
}

.btn-bottom-k {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.btn-edit-k {
    margin-bottom: 2rem;
}

.form-popup-k {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99 !important;
}
.card-popup {
    border: 3px solid slategray;
    border-radius: 1rem;
}

#delete-task, #delete-board {
    min-height: 14rem;

}

.navbar {
    background-color: #67515D
}

.nav-link,
.nav-link:visited {
    color: white;
    font-size: 1.5em;
}

.container-fluid-s {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto
}

.bg-img-j {
    z-index: -1;
    background-image: url("https://images.pexels.com/photos/1083822/pexels-photo-1083822.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    width: 100vw;
    height: 100vh;
    background-size: cover;
    filter: blur(4px);
    -webkit-filter: blur(4px);
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
    padding: 20px;
}

.p-landingpage {
    text-align: center;
}

.card-j {
    background-color: transparent;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 3;
    border: none;
    gap: 1rem;
}

.card-board-s {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1;
    border: none;
}

.card-board-body-s,
.card-body-j {
    background-color: transparent;
    background-size: cover;
    height: 4rem;
    width: 4rem;
    border-radius: 40px;
    margin: auto;
}

.userprofile-img-j {
    background-size: cover;
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    margin: auto;
    padding: 5rem;
    margin-top: 20px;
}

.card-body-j .card-body-tooltip-j {
    visibility: hidden;
    width: 100px;
    background-color: #2D3A3B;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}

.card-board-body-s {
    background-color: #F6F3F4;
    background-size: cover;
    height: 100%;
    width: 100%;
    border: solid #ded3d7;
    border-radius: 1rem;
    margin: auto;
    padding: 30px;
}

.card-board-image-s {
    border-radius: 20px;
}

.card-body-j:hover .card-body-tooltip-j {
    visibility: visible;
}

.select-user-form-j {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 3px solid slategray;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.37);
    width: 80vw;
}

.create-user-form-j {
    display: none;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 3px solid slategray;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.37);
    width: 80vw;
}

.create-board-form-s {
    display: none;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid slategray;
    padding: 10px;
    border-radius: 10px;
    background-color: #fcfcfc;
}

.create-user-container-j {
    padding: 10px;
}

.create-board-container-s input[type=text],
.create-user-container-j input[type=text],
.create-user-container-j input[type="url"],
.edit-user-container-j input[type=text],
.edit-user-container-j input[type="url"] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: solid #DCCCBC;
    background: #F1EAE4;
    border-radius: 10px;
}

.edit-user-form-j {
    padding: 10px;
    margin: auto;
}

.btn-j {
    float: flex;
    background-color: #5d495488;
    margin: auto;
    border-radius: 10px;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

.btn-create-j {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: #5d495488;
    border-radius: 10px;
}

.btn-add-board-s {
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: #5d495488;
    border-radius: 20px;
}


@media screen and (min-width: 40em) {
    .select-user-form-j {
        width: 60vw;
    }
    .create-user-form-j {
        width: 60vw;
    }
    .edit-user-form-j {
        width: 60vw;
    }
}

@media screen and (min-width: 60em) {
    .select-user-form-j {
        width: 30vw;
    }
    .create-user-form-j {
        width: 30vw;
    }
    .edit-user-form-j {
        width: 30vw;
    }
}


/*---MEDIA QUERIES---*/


/*---Mobile---*/

@media screen and (max-width: 767px) {
    .card-board-k {
        margin-top: 1rem;
    }
    .avatars-group-k {
        margin-bottom: 1.5rem;
    }
    .cards-row-k {
        margin-top: 1rem;
        margin-bottom: 3rem;
    }
}


/*---Tablet---*/

@media screen and (min-width: 768px) and (max-width: 1023px) {}


/*---Ipad Pro---*/
@media screen and (min-width: 1024px) and (max-width: 1366px) {}
