* {
    font-family: "Lato";
}
.navbar{
    background-color: #67515D
}
.container-fluid{
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
}

.bg-img {
    z-index: -1;
    background-image: url("https://images.pexels.com/photos/1083822/pexels-photo-1083822.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    width: 100vw;
    height: 100vh;
    background-size: cover;
    filter: blur(4px);
    -webkit-filter: blur(4px);
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
    padding: 20px;
}

p {
    text-align: center;
}

.card {
    background-color: transparent;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 3;
    border: none;
    gap: 1rem;
}

.card-board {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1;  
}

.card-body {
    background-color: transparent;
    background-size: cover;
    height: 4rem;
    width: 4rem;
    border-radius: 40px;
    margin: auto;
}

.card-body .card-body-tooltip {
    visibility: hidden;
    width: 100px;
    background-color: #2D3A3B;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}
.card-board-body {
    background-color:#F6F3F4;
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    margin: auto;
    padding: 30px;
}

.card-body:hover .card-body-tooltip {
    visibility: visible;
}

.select-user-form {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 3px solid slategray;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.37);
    width: 80vw;
}

.create-user-form,
.create-board-form{
    display: none;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 3px solid slategray;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.37);
    width: 80vw;
}

.create-user-container {
    padding: 10px;
}

.create-user-container input[type=text],
.create-board-container input[type=text],
.create-user-container input[type="url"] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: solid #DCCCBC;
    background: #F1EAE4;
    border-radius: 10px;
}

.btn {
    float: flex;
    background-color: #5d495488;
    margin: auto;
    border-radius: 10px;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

.btn-create {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: #5d495488;
    border-radius: 10px;
}
.btn-add-board {
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: #5d495488;
    border-radius: 20px;
}

    
.carousel-indicators .active{
    background-color: darkgray;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    filter: invert(1);
    opacity: 0.5;
}
.carousel-item {
    align-items: center;
}


@media screen and (min-width: 40em) {
    .select-user-form {
        width: 60vw;
    }
    .create-user-form {
        width: 60vw;
    }
}

@media screen and (min-width: 60em) {
    .select-user-form {
        width: 30vw;
    }
    .create-user-form {
        width: 30vw;
    }
}




